<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<div th:if="${estudiantes.isEmpty()}"> no hay estudiantes registrados en el sistema!</div>
<table th:if="${!estudiantes.isEmpty()}">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Escuela</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estudiante: ${estudiantes}">
        <td th:text="${estudiante.nombre}"></td>
        <td th:text="${estudiante.apellido}"></td>
        <td th:text="${estudiante.escuela}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>